altair==5.5.0
keras==3.11.3
numpy>=2.3.4
pandas>=2.3.3
psycopg==3.2.11
psycopg-binary==3.2.11
psycopg-pool==3.2.6
psycopg2==2.9.11
pyarrow>=21.0.0
python-dotenv
scikeras==0.13.0
scikit-learn==1.7.2
scipy==1.16.3
sympy==1.14.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
tensorflow_intel==2.18.0
tf_keras==2.20.1
